#configuration ignores
.idea/
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
*.sql
.cache/
*.dump
!blocks_db.dump
!development_db.dump
!test_db.dump
.strapi-updater.json

# Packages
*.zip
*.tar
*.gz

# OS
.DS_Store
.tmp

# node
node_modules/
build/
server/public/client/*
!server/public/client/.gitkeep