@import "../../assets/style.less";

#container {
    min-height: 100vh;
    min-width: 100vh;
    height: 100%;
    width: 100%;
    background-color: #colors[primary];
}

#table-container {
    width: 80%;
    padding-top: 5vh;
    margin: auto;
}