@import '../../assets/style.less';


#timeline-container {
  display: flex;
  justify-content: center;
}

#timeline {
  height: 1px;
  background: rgb(255, 255, 255);
  margin: 30px 20px;
  // position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 13px;
}

.current-time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: red;
  background-color: white;
  transform: rotate(45deg);
  width: auto;
  height: 19px;
  border-radius: 10px;
}

.all-times {
  transform: rotate(45deg);
  &:hover {
    cursor: pointer;
  }
}

.marker {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background: rgb(255, 255, 255);
}

#description-container {
  border-radius: 10px;
  top: 10px;
}

#logs-title {
  font-size: 18px;
}

.playspeed-slider {
  width: 100px;
  .ant-slider-rail, .ant-slider-track {
    &, &:hover {
      background-color: #colors[secondary] !important;
    }
  }
}

#action-title{
  color: white;
}