@import "../../assets/style.less";

#main-header {
  color: #colors[text-secondary];
  font-size: 3em;
  font-weight: bolder;
  margin-left: 5%;
  margin-bottom: 3%;
  text-align: left;
  padding-top: 20px;
}

#route-button {
  height: 250px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #5babde;
  font-size: 40px;
  font-weight: 800;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  margin: 70px 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
}

.parent{
    width: 70%;
    margin: 50px 0 0 -170px;
}

.child {
  width: 20%;
  border: 2px solid #5babde;
  background-color: #colors[tertiary];
  color: #colors[primary];
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
  border-radius: 5px;
  font-size: 25px;
  font-weight: 800;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  padding: 1rem;
}

.inline-block-child {
  display: inline-block;
}
