body{
    margin: 0;
    padding: 0;
    background: #3D5C82;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #5BABDE;
    text-align: center;
}

.box h1{
    color:white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #414141;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "email"]:focus{
    width: 280px;
}