@import '../../../../assets//style.less';

#home-content-container {
  margin: 6vh auto 5vh auto;
  padding: 5vh 5vw;
  width: 80vw;
  height: auto;
  background: rgb(233, 233, 233);
  border-radius: 5px;
  border: 2px solid #colors[secondary];

  #active-learning-standard-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #learning-standard-expectations {
    font-size: 1.2em;
    line-height: 1.2em;
  }

  #card-btn-container {
    width: 80%;
    margin: auto;
    padding-top: 14px;
    display: inline-grid;
    grid-template-columns: auto auto;
    justify-content: center;

    #view-day-card {
      width: 30vw;
      min-height: 30vh;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
      border-radius: 10px;
      margin: 20px;

      #view-day-heading {
        background-color: rgb(233, 233, 233);
        //rgb(233, 233, 233)
        display: inherit;
        align-items: center;
        height: 4vh;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        #view-day-title {
          display: inline;
          font-size: 1.1em;
        }

        #view-day-button {
          height: 4vh;
          width: 50%;
          font-size: 1.2em;
          font-weight: 450;
          box-shadow: none;
          background-color: transparent;
          color: black;
          border: none;

          // border-top-left-radius: 10px;
          // border-top-right-radius: 10px;

          &:hover {
            cursor: pointer;
            background-color: rgb(215, 215, 215);
          }
        }
      }
      #day-title {
        background-color: #colors[secondary];
        color: white;
        //display: flex;
        align-items: left;
        height: 3vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 1.3em;
        font-weight: 400;
        line-height: 1.3em;
      }
      #view-day-info {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 20px;
        font-size: 1.1em;
        line-height: 1em;
        word-wrap: break-word;

        strong {
          font-weight: 500;
          font-size: 1.2;
        }
      }
    }
  }

  #btn-container p {
    white-space: pre-wrap;
  }

  #learning-standard-modal {
    margin-left: 10px;

    #change-lesson-btn {
      width: auto;
      height: 2.5vh;
      font-size: 0.8em;
      font-weight: 600;
      border: none;
      color: #colors[text-primary];
      background: #colors[quaternary];
      border-radius: 30px;
      transition: 0.25s;
      cursor: pointer;

      &:hover {
        background: #colors[quinary];
      }
      #test {
        display: flex;
        justify-content: right;
      }
    }
  }
}

#display-code-modal {
  position: absolute;
  margin-top: 10px;
  right: 10vw;

  #display-code-btn {
    width: 18vw;
    min-height: 3.5vw;
    font-size: 1em;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    background: #colors[quaternary];
    color: #colors[text-primary];
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
    transition: 0.25s;
    cursor: pointer;

    &:hover {
      width: 20vw;
      background-color: #colors[quinary];
    }
  }
}

#display-form-modal {
  position: absolute;
  margin-top: 10px;
  right: 10vw;

  #display-form-btn {
    width: 18vw;
    min-height: 3.5vw;
    margin-right:400px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    background: #colors[quaternary];
    color: #colors[text-primary];
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
    transition: 0.25s;
    cursor: pointer;

    &:hover {
      width: 20vw;
      background-color: #colors[quinary];
    }
  }
}
#textbox {
  height: 100px;
  width:500px;
  justify-content: center;
  margin-left:125px;
  display:flex;
  align-items: center;
  padding:10px;
  margin-bottom: 5px;
  font-size:20px;
}

#code-display-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15em;
  // text-align: center;
}

#home-back-btn {
  background: none !important;
  border: none;
  padding: 0 !important;
  float: left;
  margin-left: 12px;
  position: relative;
  top: -60px;

  &:focus {
    outline: none;
  }

  i {
    font-size: 2em;
    color: #colors[quaternary];

    &:hover {
      color: #colors[quinary];
      cursor: pointer;
    }
  }
}
